<h1> 
  <%= link_to "CraftAcademy Journal", root_path %><br>
</h1>

<% @article.each do |article| %>
<div>
  <p>Title: <%= article.title %></p>
</div>
  <p>Content: <%= article.content %></p>
<% end %>

<div>
  <%= link_to "New Article", new_article_path, id: "new_article" %><br>
</div>